![Python_logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)


 # **Cortex Game: Round2--Conditional Amount**

Please note that you need to run this notebook 'Round2--Conditional Amount' first, before running the notebook 'Round2--Probability of Giving'.

> Before playing the game, you need to connect to SASPy first.
>
>> If it is your first time, please follow the 4 steps mentioned below!

***
## **Connect to SASPy**

**0- Connect to your Google Drive folder**

In [1]:
from google.colab import drive
import os

my_folder = "/content/drive/MyDrive/InteligenciaArtificial_CienciaDatos"
drive.mount('/content/drive')

os.chdir(my_folder)
!pwd

Mounted at /content/drive
/content/drive/MyDrive/InteligenciaArtificial_CienciaDatos

**1- Make sure that your Python version is 3.3 or higher**

In [2]:
from platform import python_version
print (python_version())

3.8.15

**2- Install SASPy**

In [3]:
pip install saspy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting saspy
  Downloading saspy-4.4.1.tar.gz (9.9 MB)
     |████████████████████████████████| 9.9 MB 63 kB/s
Building wheels for collected packages: saspy
  Building wheel for saspy (setup.py) ... done
  Created wheel for saspy: filename=saspy-4.4.1-py3-none-any.whl size=9937304 sha256=a15cead613f42c8fd697ab3a9124ebaf38555141b8cd6aabc6312cd3e441f7ff
  Stored in directory: /root/.cache/pip/wheels/0a/f6/ab/f7173c8a824856c66f6fd50194bb8fd3ef93fb4f1824be8d0c
Successfully built saspy
Installing collected packages: saspy
Successfully installed saspy-4.4.1

**3- Make sure that the configuration file "sascfg_personal.py" is correctly created**

In [4]:
%%writefile sascfg_personal.py
SAS_config_names=['oda']
oda = {'java' : '/usr/bin/java',
#US Home Region 1
'iomhost' : ['odaws01-usw2.oda.sas.com','odaws02-usw2.oda.sas.com','odaws03-usw2.oda.sas.com','odaws04-usw2.oda.sas.com'],
'iomport' : 8591,
'authkey' : 'oda',
'encoding' : 'utf-8'
}

Overwriting sascfg_personal.py

In [5]:
import saspy
print(saspy.__file__.replace('__init__.py', 'sascfg_personal.py'))

/usr/local/lib/python3.8/dist-packages/saspy/sascfg_personal.py

**4- Create your .authinfo**

In [6]:
%%writefile .authinfo
oda user  password

Overwriting .authinfo

In [7]:
!cp .authinfo ~/.authinfo

**5- Establish Connection (Need to do this step each time you use SASPy)**

In [8]:
sas_session = saspy.SASsession(cfgfile="/content/drive/MyDrive/InteligenciaArtificial_CienciaDatos/sascfg_personal.py")
sas_session

Using SAS Config named: oda
SAS Connection established. Subprocess id is 335

Access Method         = IOM
SAS Config name       = oda
SAS Config file       = /content/drive/MyDrive/InteligenciaArtificial_CienciaDatos/sascfg_personal.py
WORK Path             = /saswork/SAS_work93B40001EC52_odaws04-usw2.oda.sas.com/SAS_work850A0001EC52_odaws04-usw2.oda.sas.com/
SAS Version           = 9.04.01M6P11072018
SASPy Version         = 4.4.1
Teach me SAS          = False
Batch                 = False
Results               = Pandas
SAS Session Encoding  = utf-8
Python Encoding value = utf-8
SAS process Pid value = 126034

***
## Connect to Cortex Data Sets

Load Cortex datasets from SAS Studio

In [9]:
ps = sas_session.submit("""libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';""")
print(ps["LOG"])

5                                                          The SAS System                      Sunday, December  4, 2022 02:11:00 AM

24         ods listing close;ods html5 (id=saspy_internal) file=_tomods1 options(bitmap_mode='inline') device=svg style=HTMLBlue;
24       ! ods graphics on / outputfmt=png;
25
26         libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
27
28
29         ods html5 (id=saspy_internal) close;ods listing;
30

6                                                          The SAS System                      Sunday, December  4, 2022 02:11:00 AM

31

### Transform cloud SAS dataset to Python dataframe (pandas)

> For reference: 

> 1- [Pandas library](https://pandas.pydata.org/docs/user_guide/index.html)

> 2- [sklearn.model_selection for data partition](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [10]:
import pandas as pd
data1 = sas_session.sasdata2dataframe(table='hist', libref='cortex')
data2 = sas_session.sasdata2dataframe(table='target_rd2', libref='cortex')

## Merge the Data

In [11]:
data_merge = pd.merge(data1, data2, on=["ID"], how="right")
data_merge = data_merge.loc[(data_merge['GaveThisYear'] ==1)]
data_merge.sample(4)

,ID,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,...,Frequency,Seniority,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,Contact,GaveThisYear,AmtThisYear
571751,2571752.0,LUTZ,JOHANNA,1.0,76.0,23000.0,High School,City,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,25.0
368551,2368552.0,ASBRIDGE,WALTER,0.0,70.0,81900.0,University / College,Suburban,8.0,0.0,...,1.0,6.0,10.0,10.0,10.0,0.0,0.0,0.0,1.0,30.0
996711,2996712.0,RUDY,RICHARD,0.0,39.0,4400.0,High School,Rural,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,20.0
411946,2411947.0,ZAIDI,FREDERICK,0.0,58.0,96200.0,University / College,Downtown,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,20.0,0.0,1.0,20.0

## Treating Missing Values

>Please be aware that deleting all missing values can induce a selection bias. 
Some missing values are very informative. For example, when MinGift is missing, it means that the donor never gave in the past 10 years (leading to but excluding last year). Instead of deleting this information, replacing it by 0 is more appropriate!

> A good understanding of the business case and the data can help you come up with more appropriate strategies to deal with missing values.

In [12]:
# Define as 0 missing values of: MinGift, MaxGift and TotalGift
data_merge[['MinGift']] = data_merge[['MinGift']].fillna(value=0)
data_merge[['MaxGift']] = data_merge[['MinGift']].fillna(value=0)
data_merge[['TotalGift']] = data_merge[['MinGift']].fillna(value=0)

In [13]:
# Dummy variables for City and Education
data_merge.loc[data_merge["Education"] == "Elementary", "Education"] = 0
data_merge.loc[data_merge["Education"] == "High School", "Education"] = 1
data_merge.loc[data_merge["Education"] == "University / College", "Education"] = 2

dummies = pd.get_dummies(data_merge['City'], drop_first = True)
data_merge = pd.concat([data_merge, dummies], axis = 1)
data_merge = data_merge.drop(columns=['City'])
data_merge.sample(4)

,ID,LastName,FirstName,Woman,Age,Salary,Education,SeniorList,NbActivities,Referrals,...,MinGift,MaxGift,GaveLastYear,AmtLastYear,Contact,GaveThisYear,AmtThisYear,Downtown,Rural,Suburban
25582,2025583.0,LUQUE,JACOB,0.0,39.0,71600.0,2,3.0,1.0,1.0,...,75.0,75.0,1.0,20.0,0.0,1.0,25.0,0,0,0
649807,2649808.0,DENTON,MARY,1.0,64.0,74900.0,2,7.0,2.0,0.0,...,40.0,40.0,0.0,0.0,0.0,1.0,25.0,0,0,1
106617,2106618.0,KOY,CATHERINE,1.0,88.0,10700.0,1,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,10.0,0,1,0
428205,2428206.0,BOATENG,RAMON,0.0,41.0,97000.0,2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,10.0,1,0,0

## Data Partition

In [14]:
from sklearn.model_selection import train_test_split
train, validation = train_test_split(data_merge, test_size=0.5,random_state=12345)
train.sample(4)

,ID,LastName,FirstName,Woman,Age,Salary,Education,SeniorList,NbActivities,Referrals,...,MinGift,MaxGift,GaveLastYear,AmtLastYear,Contact,GaveThisYear,AmtThisYear,Downtown,Rural,Suburban
426990,2426991.0,SIKORSKI,MARY,1.0,52.0,700.0,1,7.0,0.0,1.0,...,20.0,20.0,0.0,0.0,0.0,1.0,20.0,1,0,0
479319,2479320.0,HENDERSON,THERESA,1.0,22.0,1100.0,2,10.0,1.0,3.0,...,30.0,30.0,0.0,0.0,1.0,1.0,10.0,1,0,0
684650,2684651.0,KISER,WILLIAM,0.0,29.0,222100.0,2,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,10.0,1,0,0
118243,2118244.0,LOZA,WINIFRED,1.0,82.0,6800.0,0,5.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,50.0,0,0,1


## Prebuilt Models

***
### Neural Network


> The [sk-learn library]( https://scikit-learn.org/stable/index.html) offers more advanced models.

In [15]:
from sklearn import linear_model

X_train = train[['Age', 'Salary','Contact','MinGift', 'GaveLastYear','AmtLastYear','Woman', 'NbActivities', 'Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals', 'MaxGift', 'TotalGift']] 
Y_train = train['AmtThisYear']
X_valid = validation[['Age', 'Salary','Contact','MinGift', 'GaveLastYear','AmtLastYear','Woman', 'NbActivities', 'Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals', 'MaxGift', 'TotalGift']] 
Y_valid = validation['AmtThisYear']

# Scaling data
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(X_train)  
X_train = scaler.transform(X_train)  
X_valid = scaler.transform(X_valid) 

# Apply model
from sklearn.neural_network import MLPClassifier
neuralNet = MLPClassifier(hidden_layer_sizes=(8,6,2), max_iter=10, activation='relu', solver='adam')
neuralNet.fit(X_train,Y_train)
neuralNet_predict = neuralNet.predict(X_valid)
print(neuralNet)

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (10) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(hidden_layer_sizes=(8, 6, 2), max_iter=10)

In [20]:
import numpy as np
from sklearn import metrics
#MAE
print(metrics.mean_absolute_error(Y_valid, neuralNet_predict))
#MSE
print(metrics.mean_squared_error(Y_valid, neuralNet_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid, neuralNet_predict)))

46.7977625821301
56868.073304874946
238.4702776131125

## Regression Tree Model（Py）

In [21]:
from sklearn.tree import DecisionTreeRegressor

X_train = train[['Age', 'Salary','Contact','MinGift', 'GaveLastYear','AmtLastYear','Woman', 'NbActivities', 'Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals', 'MaxGift', 'TotalGift']] 
Y_train = train['AmtThisYear']
X_valid = validation[['Age', 'Salary','Contact','MinGift', 'GaveLastYear','AmtLastYear','Woman', 'NbActivities', 'Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals', 'MaxGift', 'TotalGift']] 
Y_valid = validation['AmtThisYear']

# Sacling data
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(X_train)  
X_train = scaler.transform(X_train)  
X_valid = scaler.transform(X_valid) 

# Apply model
treeModel = DecisionTreeRegressor(max_depth=3, random_state=0).fit(X_train,Y_train)
treePredict = treeModel.predict(X_valid) 
print(treePredict)

[67.92536432 47.9283539  44.78859491 ... 60.16069547 70.9558322
 44.78859491]

In [22]:
#MAE
print(metrics.mean_absolute_error(Y_valid, treePredict))
#MSE
print(metrics.mean_squared_error(Y_valid, treePredict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid, treePredict)))

63.30491641951089
54135.96347890052
232.67136368470557

### **Other models may also be helpful for this game**

Reference: https://scikit-learn.org/stable/supervised_learning.html

## Scoring New Data

### Prepare data for scoring

In [23]:
data3 = sas_session.sasdata2dataframe(table='score', libref='cortex')
data4 = sas_session.sasdata2dataframe(table='score_rd2_contact', libref='cortex')
data5 = sas_session.sasdata2dataframe(table='score_rd2_nocontact', libref='cortex')

 ### Score new data based on your champion model
 
 Pick your champion model from previous steps and use it to predict next year donations. 
 
 In this case, the tree model performed better than the neural network based on the MSE criteria.

### Predict 'amount given' for members who were contacted

In [24]:
# Merge data
scoring_data_contact = pd.merge(data3, data4, on=["ID"],how="right")

# Define as 0 missing values of: MinGift, MaxGift and TotalGift
scoring_data_contact[['MinGift']] = scoring_data_contact[['MinGift']].fillna(value=0)
scoring_data_contact[['MaxGift']] = scoring_data_contact[['MinGift']].fillna(value=0)
scoring_data_contact[['TotalGift']] = scoring_data_contact[['MinGift']].fillna(value=0)

# Dummy variables for City and Education
scoring_data_contact.loc[scoring_data_contact["Education"] == "Elementary", "Education"] = 0
scoring_data_contact.loc[scoring_data_contact["Education"] == "High School", "Education"] = 1
scoring_data_contact.loc[scoring_data_contact["Education"] == "University / College", "Education"] = 2

dummies = pd.get_dummies(scoring_data_contact['City'], drop_first = True)
scoring_data_contact = pd.concat([scoring_data_contact, dummies], axis = 1)
scoring_data_contact = scoring_data_contact.drop(columns=['City'])

# Making predictions
X = scoring_data_contact[['Age', 'Salary','Contact','MinGift', 'AmtLastYear','GaveLastYear','Woman', 'NbActivities', 'Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals', 'MaxGift', 'TotalGift']] 
regr_predict_contact=treeModel.predict(X)
scoring_data_contact['Prediction'] = regr_predict_contact

scoring_data_contact= scoring_data_contact[['ID','Prediction']]
scoring_data_contact = scoring_data_contact.rename({'Prediction': 'AmtContact'}, axis=1) 
scoring_data_contact.head()

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeRegressor was fitted without feature names
  warnings.warn(

          ID  AmtContact
0  2000001.0   70.955832
1  2000002.0   70.955832
2  2000003.0   70.955832
3  2000004.0   70.955832
4  2000005.0   70.955832

### Predict 'amount given' for members who were not contacted

In [25]:
# Merge data
scoring_data_nocontact = pd.merge(data3, data5, on=["ID"],how="right")

# Define as 0 missing values of: MinGift, MaxGift and TotalGift
scoring_data_nocontact[['MinGift']] = scoring_data_nocontact[['MinGift']].fillna(value=0)
scoring_data_nocontact[['MaxGift']] = scoring_data_nocontact[['MinGift']].fillna(value=0)
scoring_data_nocontact[['TotalGift']] = scoring_data_nocontact[['MinGift']].fillna(value=0)

# Dummy variables for City and Education
scoring_data_nocontact.loc[scoring_data_nocontact["Education"] == "Elementary", "Education"] = 0
scoring_data_nocontact.loc[scoring_data_nocontact["Education"] == "High School", "Education"] = 1
scoring_data_nocontact.loc[scoring_data_nocontact["Education"] == "University / College", "Education"] = 2

dummies = pd.get_dummies(scoring_data_nocontact['City'], drop_first = True)
scoring_data_nocontact = pd.concat([scoring_data_nocontact, dummies], axis = 1)
scoring_data_nocontact = scoring_data_nocontact.drop(columns=['City'])

# Making predictions
X = scoring_data_nocontact[['Age', 'Salary','Contact','MinGift','AmtLastYear', 'GaveLastYear','Woman', 'NbActivities', 'Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals', 'MaxGift', 'TotalGift']] 
regr_predict_nocontact=treeModel.predict(X)

scoring_data_nocontact['Prediction'] = regr_predict_nocontact
scoring_data_nocontact= scoring_data_nocontact[['ID','Prediction']]
scoring_data_nocontact = scoring_data_nocontact.rename({'Prediction': 'AmtNoContact'}, axis=1) 
scoring_data_nocontact.head()

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeRegressor was fitted without feature names
  warnings.warn(

          ID  AmtNoContact
0  2000001.0     70.955832
1  2000002.0     70.955832
2  2000003.0     70.955832
3  2000004.0     70.955832
4  2000005.0     70.955832

In [26]:
#Show results
result_Amt = pd.merge(scoring_data_contact, scoring_data_nocontact, on=["ID"],how="right")
result_Amt.sort_values(by=['ID'], inplace=True)
result_Amt.head(3)

          ID  AmtContact  AmtNoContact
0  2000001.0   70.955832     70.955832
1  2000002.0   70.955832     70.955832
2  2000003.0   70.955832     70.955832

## Exporting Results to a CSV File

In [ ]:
result_Amt.to_csv('Round2_Output_amt.csv', index=False)