![Python_logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)


   # **Cortex Game: Round1--Amount**

> Before playing the game, you need to connect to SASPy first.
>
>> If it is your first time, please follow the 4 steps mentioned below!

***
## **Connect to SASPy**

**0- Connect to your Google Drive folder**

In [ ]:
from google.colab import drive
import os

my_folder = "/content/drive/MyDrive/InteligenciaArtificial_CienciaDatos"
drive.mount('/content/drive')

os.chdir(my_folder)
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/InteligenciaArtificial_CienciaDatos

**1- Make sure that your Python version is 3.3 or higher**

In [ ]:
from platform import python_version
print (python_version())

3.8.15

**2- Install SASPy**

In [ ]:
pip install saspy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting saspy
  Downloading saspy-4.4.1.tar.gz (9.9 MB)
     |████████████████████████████████| 9.9 MB 23.9 MB/s
Building wheels for collected packages: saspy
  Building wheel for saspy (setup.py) ... done
  Created wheel for saspy: filename=saspy-4.4.1-py3-none-any.whl size=9937304 sha256=152d97a063578a13e7cdf8cdba1fc26ebdf2d01736428be09531193d9b5333bc
  Stored in directory: /root/.cache/pip/wheels/0a/f6/ab/f7173c8a824856c66f6fd50194bb8fd3ef93fb4f1824be8d0c
Successfully built saspy
Installing collected packages: saspy
Successfully installed saspy-4.4.1

**3- Make sure that the configuration file "sascfg_personal.py" is correctly created**

In [ ]:
%%writefile sascfg_personal.py
SAS_config_names=['oda']
oda = {'java' : '/usr/bin/java',
#US Home Region 1
'iomhost' : ['odaws01-usw2.oda.sas.com','odaws02-usw2.oda.sas.com','odaws03-usw2.oda.sas.com','odaws04-usw2.oda.sas.com'],
'iomport' : 8591,
'authkey' : 'oda',
'encoding' : 'utf-8'
}

Overwriting sascfg_personal.py

In [ ]:
import saspy
print(saspy.__file__.replace('__init__.py', 'sascfg_personal.py'))

/usr/local/lib/python3.8/dist-packages/saspy/sascfg_personal.py

**4- Create your .authinfo**

In [ ]:
%%writefile .authinfo
oda user   password

Overwriting .authinfo

In [ ]:
!cp .authinfo ~/.authinfo

**5- Establish Connection (Need to do this step each time you use SASPy)**

In [ ]:
sas_session = saspy.SASsession(cfgfile="/content/drive/MyDrive/InteligenciaArtificial_CienciaDatos/sascfg_personal.py")
sas_session

Using SAS Config named: oda
SAS Connection established. Subprocess id is 453

Access Method         = IOM
SAS Config name       = oda
SAS Config file       = /content/drive/MyDrive/InteligenciaArtificial_CienciaDatos/sascfg_personal.py
WORK Path             = /saswork/SAS_work90E70001F2EF_odaws02-usw2.oda.sas.com/SAS_work27610001F2EF_odaws02-usw2.oda.sas.com/
SAS Version           = 9.04.01M6P11072018
SASPy Version         = 4.4.1
Teach me SAS          = False
Batch                 = False
Results               = Pandas
SAS Session Encoding  = utf-8
Python Encoding value = utf-8
SAS process Pid value = 127727

***
## Connect to Cortex Data Sets

Load Cortex datasets from SAS Studio

In [ ]:
ps = sas_session.submit("""libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';""")
print(ps["LOG"])

141                                                        The SAS System                      Friday, December  2, 2022 05:31:00 AM

1001       ods listing close;ods html5 (id=saspy_internal) file=_tomods1 options(bitmap_mode='inline') device=svg style=HTMLBlue;
1001     ! ods graphics on / outputfmt=png;
1002
1003       libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
1004
1005
1006       ods html5 (id=saspy_internal) close;ods listing;
1007

142                                                        The SAS System                      Friday, December  2, 2022 05:31:00 AM

1008

## Transform cloud SAS dataset to Python dataframe (pandas)


> **For reference**:

> 1. [Pandas library](https://pandas.pydata.org/docs/user_guide/index.html)

> 2. [sklearn.model_selection for data partition](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [ ]:
import pandas as pd

data1 = sas_session.sasdata2dataframe(table='hist', libref='cortex')
data2 = sas_session.sasdata2dataframe(table='target_rd1', libref='cortex')

## Merge the Data

In [ ]:
data_merge = pd.merge(data1, data2, on=["ID"], how="right")
data_merge.sample(4)

,ID,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,...,Recency,Frequency,Seniority,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,GaveThisYear,AmtThisYear
953586,2953587.0,YORK,THOMAS,0.0,56.0,61000.0,High School,Downtown,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
635598,2635599.0,TANGI,ANDREW,0.0,55.0,66500.0,University / College,Suburban,7.0,0.0,...,4.0,1.0,4.0,20.0,20.0,20.0,0.0,0.0,0.0,0.0
158755,2158756.0,LEIBEL,LINDA,1.0,50.0,162400.0,University / College,Downtown,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
484816,2484817.0,BATTENFIELD,VERONICA,1.0,17.0,1500.0,High School,Rural,8.0,0.0,...,5.0,1.0,5.0,20.0,20.0,20.0,0.0,0.0,0.0,0.0

## Treat Missing Values

> Please be aware that deleting all missing values can induce a selection bias. 
Some missing values are very informative. For example, when MinGift is missing, it means that the donor never gave in the past 10 years (leading to but excluding last year). Instead of deleting this information, replacing it by 0 is more appropriate!

> A good understanding of the business case and the data can help you come up with more appropriate strategies to deal with missing values.

In [ ]:
# Define as 0 missing values of: MinGift, MaxGift and TotalGift
data_merge[['MinGift']] = data_merge[['MinGift']].fillna(value=0)
data_merge[['MaxGift']] = data_merge[['MinGift']].fillna(value=0)
data_merge[['TotalGift']] = data_merge[['MinGift']].fillna(value=0)

In [ ]:
# Dummy variables for City and Education
data_merge.loc[data_merge["Education"] == "Elementary", "Education"] = 0
data_merge.loc[data_merge["Education"] == "High School", "Education"] = 1
data_merge.loc[data_merge["Education"] == "University / College", "Education"] = 2

dummies = pd.get_dummies(data_merge['City'], drop_first = True)
data_merge = pd.concat([data_merge, dummies], axis = 1)
data_merge = data_merge.drop(columns=['City'])

data_merge.sample(5)

,ID,LastName,FirstName,Woman,Age,Salary,Education,SeniorList,NbActivities,Referrals,...,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,GaveThisYear,AmtThisYear,Downtown,Rural,Suburban
903347,2903348.0,RODGERS,DUDLEY,0.0,32.0,31400.0,1,2.0,0.0,1.0,...,300.0,300.0,300.0,0.0,0.0,0.0,0.0,0,0,0
935069,2935070.0,BENNETT,MICHAEL,0.0,44.0,38900.0,1,9.0,0.0,1.0,...,10.0,10.0,10.0,0.0,0.0,0.0,0.0,0,0,1
693181,2693182.0,SAINTGERMAIN,YOLANDA,1.0,36.0,60300.0,2,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,100.0,0,1,0
92835,2092836.0,MALLOY,JEFFERY,0.0,62.0,51900.0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
163649,2163650.0,GARCIA,WILLIS,0.0,53.0,96800.0,2,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,30.0,0.0,0.0,0,1,0

## Data Partition

In [ ]:
from sklearn.model_selection import train_test_split
train, validation = train_test_split(data_merge, test_size=0.3, random_state=12345) 

train.sample(4)

,ID,LastName,FirstName,Woman,Age,Salary,Education,SeniorList,NbActivities,Referrals,...,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,GaveThisYear,AmtThisYear,Downtown,Rural,Suburban
926965,2926966.0,GALLARDO,DANIEL,0.0,29.0,47000.0,2,8.0,2.0,0.0,...,10.0,10.0,10.0,0.0,0.0,0.0,0.0,0,0,0
241561,2241562.0,PIERCE,JENNIFER,1.0,45.0,16900.0,1,3.0,0.0,1.0,...,40.0,40.0,40.0,0.0,0.0,0.0,0.0,0,0,1
69303,2069304.0,MCLEOD,SANDRA,1.0,64.0,28400.0,2,5.0,2.0,1.0,...,0.0,0.0,0.0,1.0,20.0,1.0,10.0,0,0,1
940223,2940224.0,SESSIONS,JENNIFER,1.0,35.0,164600.0,2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,500.0,0,0,1

## Prebuilt Models
***

### **Linear Regression Model**


> The [sk-learn library](https://scikit-learn.org/stable/index.html ) offers more advanced models.

In [ ]:
from sklearn import linear_model

X_train = train[['Woman','Age', 'Salary','Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals',  'TotalGift', 'MinGift', 'MaxGift', 'AmtLastYear', 'NbActivities']] 
Y_train = train['AmtThisYear']
X_valid = validation[['Woman','Age', 'Salary','Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals', 'TotalGift', 'MinGift', 'MaxGift', 'AmtLastYear', 'NbActivities']] 
Y_valid = validation['AmtThisYear']

# Scaling the data
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(X_train)  
X_train = scaler.transform(X_train)  
X_valid = scaler.transform(X_valid) 

# Apply the model
regr = linear_model.LinearRegression()
regr.fit(X_train,Y_train)
regr_predict=regr.predict(X_valid)

In [ ]:
import numpy as np
from sklearn import metrics
#MAE
print(metrics.mean_absolute_error(Y_valid,regr_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,regr_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,regr_predict)))

13.281248757180188
7649.419327851483
87.46095887795585

## **Regression Tree Model**

In [ ]:
from sklearn.tree import DecisionTreeRegressor

X_train = train[['Woman','Age', 'Salary','Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals',  'TotalGift', 'MinGift', 'MaxGift', 'AmtLastYear', 'NbActivities']] 
Y_train = train['AmtThisYear']
X_valid = validation[['Woman','Age', 'Salary','Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals',  'TotalGift', 'MinGift', 'MaxGift', 'AmtLastYear', 'NbActivities']] 
Y_valid = validation['AmtThisYear']

# Sacaling the data
scaler = StandardScaler()  
scaler.fit(X_train)  
X_train = scaler.transform(X_train)  
X_valid = scaler.transform(X_valid) 

# Apply the model
treeModel = DecisionTreeRegressor(max_depth=3).fit(X_train,Y_train)
treePredict = treeModel.predict(X_valid)

In [ ]:
#MAE
print(metrics.mean_absolute_error(Y_valid, treePredict))
#MSE
print(metrics.mean_squared_error(Y_valid, treePredict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid, treePredict)))

13.280774597540304
7672.640155238147
87.5936079587897

### **Other models may also be helpful for this game**

Reference: https://scikit-learn.org/stable/supervised_learning.html

***

## Scoring New Data

### Prepare data for scoring

In [ ]:
data3 = sas_session.sasdata2dataframe(table='score_rd1', libref='cortex')
data4 = sas_session.sasdata2dataframe(table='score', libref='cortex')

 ### Score new data based on your champion model
 
> Pick your champion model from previous steps and use it to predict next year donations. 
 
> In this case, the linear regression model performed better than the regression tree based on the MSE criterion.

In [ ]:
scoring_data = pd.merge(data3, data4, on=["ID"],how="right")

# Define as 0 missing values of: MinGift, MaxGift and TotalGift
scoring_data[['MinGift']] = scoring_data[['MinGift']].fillna(value=0)
scoring_data[['MaxGift']] = scoring_data[['MinGift']].fillna(value=0)
scoring_data[['TotalGift']] = scoring_data[['MinGift']].fillna(value=0)

# Dummy variables for City and Education
scoring_data.loc[scoring_data["Education"] == "Elementary", "Education"] = 0
scoring_data.loc[scoring_data["Education"] == "High School", "Education"] = 1
scoring_data.loc[scoring_data["Education"] == "University / College", "Education"] = 2

dummies = pd.get_dummies(scoring_data['City'], drop_first = True)
scoring_data = pd.concat([scoring_data, dummies], axis = 1)
scoring_data = scoring_data.drop(columns=['City'])

scoring_data.sample(2)

,ID,GaveLastYear,AmtLastYear,LastName,FirstName,Woman,Age,Salary,Education,SeniorList,...,Referrals,Recency,Frequency,Seniority,TotalGift,MinGift,MaxGift,Downtown,Rural,Suburban
343569,2343570.0,1.0,75.0,CHESSON,ANNETTE,1.0,32.0,24400.0,1,0.0,...,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0,0,1
370914,2370915.0,1.0,25.0,HARRIS,ALVA,1.0,62.0,93600.0,2,5.0,...,0.0,0.0,4.0,5.0,10.0,10.0,10.0,0,0,1

In [ ]:
# Based on MSE criterion, the linear regression model performed better than the regression tree.
X = scoring_data[['Woman','Age', 'Salary','Education', 'Downtown', 'Rural', 'Suburban', 'SeniorList', 'Referrals',  'TotalGift', 'MinGift', 'MaxGift', 'AmtLastYear', 'NbActivities']] 
regr_predict_end = regr.predict(X)

scoring_data['Prediction'] = regr_predict_end
scoring_data.sort_values(by=['Prediction'], inplace=True, ascending=False)
scoring_data.sample(4)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

,ID,GaveLastYear,AmtLastYear,LastName,FirstName,Woman,Age,Salary,Education,SeniorList,...,Recency,Frequency,Seniority,TotalGift,MinGift,MaxGift,Downtown,Rural,Suburban,Prediction
393809,2393810.0,0.0,0.0,BEHRMAN,KRISTIN,1.0,17.0,400.0,2,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1,0,0,717.191377
982487,2982488.0,0.0,0.0,PACHECO,CAROL,1.0,46.0,113000.0,2,1.0,...,0.0,1.0,0.0,20.0,20.0,20.0,1,0,0,205543.534021
196743,2196744.0,0.0,0.0,DEGOLLADO,VIOLET,1.0,28.0,500.0,1,3.0,...,2.0,1.0,2.0,10.0,10.0,10.0,0,0,1,885.805576
291127,2291128.0,0.0,0.0,WRIGHT,CARRIE,1.0,67.0,19900.0,1,0.0,...,0.0,1.0,0.0,30.0,30.0,30.0,0,0,0,36157.478993

## Exporting Results to a CSV File

In [ ]:
Result= scoring_data[['ID','Prediction']]

In [ ]:
# Define cutoff and choose a number of rows
NB = 60000
submission = Result.head(NB)
submission.to_csv('Round1_Output.csv', index=False)

In [ ]:
Result1= Result['ID']
NB = 60000
submission = Result1.head(NB)
submission.to_csv('Round1_OutputIDs.csv', index=False)